*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #EDAD4C;
    text-align: center;
    margin-top: 10vmin;

}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
 
.hide{
    display: none;
}
.msg{
    color: #FAF0CA;
    font-size: 7vmin;
}

.new-btn{
    height: 45px;
    width: 110px;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
}
h1{
    margin-bottom: 7vmin;
}

.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 55vmin;
    width: 55vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.box{
    height: 17vmin;
    width: 17vmin;
    border-radius: 1rem;
    background-color: #FAF0CA;
    font-size: 10vmin;
}

.reset-btn{
    height: 45px;
    width: 110px;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    margin-top: 6vmin;
}

